html {
    font-size: 77.6562px;
}

.wrapper {}

.menu {
    display: flex;
    justify-content: center;
    height: 0.8rem;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 99;
}

.menu .nav {
    height: 0.8rem;
    font-size: 0.32rem;
    margin: 0px;
    padding: 0px;
    background-color: #0000000f;
}

.menu .nav>li {
    margin-bottom: 0.01rem;
    float: left;
    text-align: center;
    padding: 0 .2rem;
    list-style: none;
}

.menu .nav li a {
    line-height: 0.8rem;
    cursor: pointer;
    position: relative;
    display: block;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    color: #424242;
}

.menu .nav>li.active {
    background-color: #33333336;
}

.menu .nav>li.active a {
    color: #fff;
}

.menu .nav li:hover {
    background-color: #33333336;
}

.menu .nav li:hover>a {
    color: #fff;
    transform: translateX(0px);
    transition: all .5s ease 0s;
}

.menu .nav li>ul {
    display: none;
    position: absolute;
    margin-top: 0px;
    z-index: 999;
    margin-left: -12px;
}

.menu .nav li:hover>ul {
    display: block;
    background-color: #0000000f;
    margin-left: -16px;
    padding: 0;
}

.menu .nav li>ul>li {
    float: left;
    list-style: none;
    margin: 2px;
    border: 1px solid #ffffff2e;
}

.menu .nav li>ul>li>a {
    line-height: 0.46rem;
    color: #424242;
    text-align: center;
    display: block;
    border-top: none;
    padding: 2px 12px;
    font-size: 0.28rem;
}

.menu .nav li>ul.left {
    left: 14%;
}