<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <title>服务大厅公示栏</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li><a href="/views/introduce.html">本所介绍</a></li>
                <li>
                    <a href="#">对外开放</a>
                    <ul>
                        <li><a href="/views/openRegime.html">对外开放制度</a></li>
                        <li><a href="/views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#">诊断评估</a>
                    <ul>
                        <li class="active"><a href="/views/assessment.html">戒毒人员诊断评估</a></li>
                        <li><a href="/views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li><a href="/views/interviewRules.html">会见工作规定</a></li>
                        <li><a href="/views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="/views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li><a href="/views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="/views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="/views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li><a href="/views/financial.html">财务制度</a></li>
                <li>
                    <a href="#">法律法规</a>
                    <ul>
                        <li><a href="/views/detentionFacilityRegulations.html">拘留所条例</a></li>
                        <li><a href="/views/drugRegulations.html">戒毒条例</a></li>
                    </ul>
                </li>
                <li><a href="#">食堂管理</a></li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">戒毒人员诊断评估</h1>
                <div class="content">
                    <div class="text-box">
                        <p>一、诊断评估工作的法律依据</p>
                        <p>《禁毒法》第四十七条规定，强制隔离戒毒的期限为二年。</p>
                        <p>执行强制隔离戒毒一年后，经诊断评估，对于戒毒情况良好的戒毒人员，强制隔离戒毒场所可以提出提前解除强制隔离戒毒的意见，报强制隔离戒毒的决定机关批准。</p>
                        <p>强制隔离戒毒期满前，经诊断评估，对于需要延长戒毒期限的戒毒人员，由强制隔离戒毒场所提出延长戒毒期限的意见，报强制隔离戒毒的决定机关批准。强制隔离戒毒的期限最长可以延长一年。</p>
                        <p>二、广东省公安厅、司法厅、卫生厅《广东省强制隔离戒毒人员诊断评估办法》的有关规定</p>
                        <p>第三条规定，诊断评估内容主要包括生理康复评估、心理康复评估和行为矫治评估。</p>
                        <p>第九条规定，诊断评估由生理康复、心理康复、行为矫治等三个评估小组提出意见，填写诊断评估呈批表，由强制隔离戒毒人员诊断评估委员会汇总审核，并提出提前解除、按期解除强制隔离戒毒或延长戒毒期限的建议。</p>
                        <p>对于提出提前解除强制隔离戒毒和延长戒毒期限建议的，公安强制隔离戒毒所须上报市强制隔离戒毒人员诊断评估指导委员会审查同意后，再送强制隔离戒毒的原决定机关批准；司法强制隔离戒毒所须上报省强制隔离戒毒人员诊断评估指导委员会审核后，再送强制隔离戒毒的原决定机关批准。</p>
                        <p>对于按期解除强制隔离戒毒的，由强制隔离戒毒所作出决定。</p>
                        <p>第十七条规定，对有下列情形之一的戒毒人员，不得提前解除强制隔离戒毒：</p>
                        <p>1.拒不交代真实身份、姓名、住址的；</p>
                        <p>2.一年期满时毒品尿检仍呈阳性的；</p>
                        <p>3.吸食阿片类毒品经多次强制隔离戒毒的；</p>
                        <p>4.在强制隔离戒毒期间有脱逃或者其他违法行为的；</p>
                        <p>5.出所后不具备社区、家庭或监护人帮教监护环境的；</p>
                        <p>6.其他不适宜提前解除强制隔离戒毒的。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/banner.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>