<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/jing.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/banner.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/introduce.css">
    <title>行为表现评估考核办法</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li><a href="../views/introduce.html">本所介绍</a></li>
                <li>
                    <a href="#">对外开放</a>
                    <ul>
                        <li><a href="../views/openRegime.html">对外开放制度</a></li>
                        <li><a href="../views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#">诊断评估</a>
                    <ul>
                        <li><a href="../views/assessment.html">戒毒人员诊断评估</a></li>
                        <li class="active"><a href="../views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li><a href="../views/interviewRules.html">会见工作规定</a></li>
                        <li><a href="../views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="../views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li><a href="../views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="../views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="../views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li><a href="../views/financial.html">财务制度</a></li>
                <li>
                    <a href="#">法律法规</a>
                    <ul>
                        <li><a href="../views/detentionFacilityRegulations.html">拘留所条例</a></li>
                        <li><a href="../views/drugRegulations.html">戒毒条例</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">食堂管理</a>
                    <ul>
                        <li><a href="../views/recipe.html">每周菜谱</a></li>
                        <li><a href="../views/canteenSystem.html">食堂管理制度</a></li>
                        <li><a href="../views/canteenPermit.html">食堂许可证</a></li>
                        <li><a href="../views/chefHealthCertificate.html">厨工健康证</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">广东省公安机关强制隔离戒毒人员行为表现评估考核办法</h1>
                <div class="content">
                    <div class="text-box">
                        <h2>第一章 总则</h2>
                        <p>第一条
                            为维护全省公安机关强制隔离戒毒所（以下简称戒毒所）工作秩序，规范强制隔离戒毒人员（以下简称戒毒人员）行为表现评估标准，根据《戒毒条例》、《广东省强制隔离戒毒诊断评估办法实施细则》，制定本办法。</p>
                        <p>第二条 本办法是对戒毒人员戒毒期间的日常行为表现进行考核的主要依据。</p>
                        <p>第三条 戒毒人员行为表现评估内容包括以下五项：一是遵章守纪；二是戒毒康复；三是教育矫治；四是康复劳动；五是坦白检举。</p>
                        <p>第四条 戒毒所应当以事实为依据，公平、公正、公开地对戒毒人员的行为表现进行量化考核，奖优罚劣。</p>
                        <p>第五条 戒毒人员行为表现考核实行“日积累、月考评、逐月累计”的计分方法。戒毒人员行为表现评估结果根据量化考核分值分为“合格”和“不合格”两个等级。</p>
                        <h2>第二章 计分方式</h2>
                        <p>第六条
                            戒毒人员行为量化考核实行每月考评计分、逐月累计积分，按月对戒毒人员遵章守纪、戒毒康复、教育矫治、康复劳动及坦白检举等五项评估内容进行考核，各项最高考核分值为40、10、20、20、10分，每月考核总分不得超过100分，可以出现负分。</p>
                        <p>戒毒人员每月考核分数由五项评估内容的基础分和加分、罚分三部分组成，每月奖罚分之和加当月基础分为戒毒人员的当月考核分值。</p>
                        <p>上述评估内容每月基础分设定范围为24—32分、6—8分、12—16分、12—16分、0分。各项基础分设定分值和具体加分、扣分分值由各戒毒所根据实际情况自行确定。</p>
                        <p>第七条 戒毒人员轻微违规的，可以不予扣分，但应予口头警告、批评教育。</p>
                        <p>第八条 戒毒人员行为表现量化考核分数累计达到以下分值的为“合格”，否则为“不合格”：</p>
                        <p>（一）首次接受强制隔离戒毒的戒毒人员，量化考核分值达到1200分以上为合格。</p>
                        <p>（二）强制隔离戒毒次数为两次的戒毒人员，量化考核分值达到1300分以上为合格。</p>
                        <p>（三）强制隔离戒毒次数在三次以上的戒毒人员，量化考核分值达到1500分以上为合格。</p>
                        <p>第九条 考核计分为同一行为符合两个或两个以上加、扣分条件的，按分值高的予以加分或扣分。</p>
                        <p>第十条 戒毒人员提供线索协助公安机关破获案件、抓获逃犯，以及具有其他重大立功表现的，戒毒所可以对其予以额外加分奖励，并计入逐月累计积分分值。立功奖励分累计不得超过300分。</p>
                        <p>第十一条 对严重违反所规所纪的戒毒人员，戒毒所可以视情直接在其逐月累计积分中扣除分数。</p>
                        <p>第十二条
                            如戒毒人员符合《公安机关强制隔离戒毒所管理办法》第六十五条规定，需继续执行强制隔离戒毒的，入所后继续对其开展诊断评估工作。其出所期间的每月行为量化考核得分按照羁押单位的评估分数进行累加，如羁押单位无评估的，则按照该所戒毒人员的每月基础分进行累加。</p>
                        <h2>第三章 考核内容及标准</h2>
                        <h3>第一节 遵章守纪（40分）</h3>
                        <p>第十三条 戒毒人员在遵章守纪方面具有下列情形之一的，根据具体情况，给予相应的加分：</p>
                        <p>（一）及时阻止其他戒毒人员违反规章制度行为的；</p>
                        <p>（二）采用妥善方法处理他人之间或与本人之间纠纷，避免、化解矛盾的； </p>
                        <p>（三）积极协助工作人员制止打架斗殴等事件的；</p>
                        <p>（四）主动照顾残疾、患病戒毒人员生活的；</p>
                        <p>（五）在遵章守纪方面有其他良好表现的。</p>
                        <p>第十四条 戒毒人员在遵章守纪方面具有下列情形之一的，根据具体情况，给予相应的扣分：</p>
                        <p>（一）以自伤、自残、吞食异物或预备实施自杀、逃跑、偷吸毒品等方法抗拒、逃避强制隔离戒毒的；</p>
                        <p>（二）以恃强凌弱、寻衅滋事、敲诈勒索等方式，欺压、打骂、侮辱其他戒毒人员的；</p>
                        <p>（三）违反一日生活制度的；</p>
                        <p>（四）私藏、携带现金、通讯工具、刀具等违禁品的；</p>
                        <p>（五）超越警戒线，擅离指定活动区域的；</p>
                        <p>（六）实施偷盗、诈骗、强行交易等行为，侵占其他戒毒人员财物的；</p>
                        <p>（七）挑起事端或扩大事端，危害监管秩序的；</p>
                        <p>（八）拒不服从工作人员指令，对抗管教的；</p>
                        <p>（九）贿赂、拉拢工作人员，谋取不当利益的；</p>
                        <p>（十）在禁烟区域吸烟的；</p>
                        <p>（十一）违反会见、通信、财物保管等制度的；</p>
                        <p>（十二）未经许可擅自进入办公区域的；</p>
                        <p>（十三）遇来宾访问或领导视察时，实施无理取闹、围观、尾随等行为或不如实回答问话，举止鲁莽，言语粗俗的；</p>
                        <p>（十四）仪容不整，着装不规范或不整洁，生活用品摆放不规范，个人内务卫生差的；</p>
                        <p>（十五）请假出所期间拒绝或不如实报告每日去向，以及不准时回所的；</p>
                        <p>（十六）夜间轮流值班期间不遵守有关规定的；</p>
                        <p>（十七）在遵章守纪方面有其他不良表现的。</p>
                        <h3>第二节 戒毒康复（10分）</h3>
                        <p>第十五条 戒毒人员在戒毒康复方面具有下列情形之一的，根据具体情况，给予相应的加分：</p>
                        <p>（一）积极参加体能锻炼，身体素质明显改善的；</p>
                        <p>（二）主动接受心理辅导，效果良好的；</p>
                        <p>（三）积极参加心理、拒毒能力等测试的；</p>
                        <p>（四）在戒毒康复方面有其他良好表现的。</p>
                        <p>第十六条 戒毒人员在戒毒康复方面具有下列情形之一的，根据具体情况，给予相应的扣分：</p>
                        <p>（一）不配合治疗、不按医嘱服药、私藏药品的；</p>
                        <p>（二）无病装病、故意夸大病情或隐瞒病情，妨碍正常医务工作的；</p>
                        <p>（三）消极或拒绝参加体能康复活动的；</p>
                        <p>（四）拒绝参加心理测试、拒毒能力测试和心理矫治等活动或在活动中故意作假的；</p>
                        <p>（五）不配合落实传染病预防、控制措施，导致疾病传播的；</p>
                        <p>（六）不配合工作人员进行定期、不定期毒品尿液检测的；</p>
                        <p>（七）请假回所人员回所时不接受毒品尿液检测、或毒品尿液检测呈阳性的；</p>
                        <p>（八）在戒毒康复方面有其他不良表现的。</p>
                        <h3>第三节 教育矫治（20分）</h3>
                        <p>第十七条 戒毒人员在教育学习方面具有下列情形之一的，根据具体情况，给予相应的加分：</p>
                        <p>（一）在学习讨论活动中，发言积极，观点正确，表现突出的；</p>
                        <p>（二）自觉学习，做好学习笔记，撰写心得体会，能够起到典型示范作用的；</p>
                        <p>（三）主动参加文化学习，通过相关考试、考核的；</p>
                        <p>（四）积极接受新闻媒体采访或参加演讲、演出等禁毒戒毒宣传活动，控诉毒品危害，为禁毒宣传工作发挥积极作用的；</p>
                        <p>（五）创作文学、文艺作品或在制作墙报、黑板报、学习园地等方面有突出成绩的；</p>
                        <p>（六）在教育学习方面有其他良好表现的。</p>
                        <p>第十八条 戒毒人员在教育学习方面具有下列情形之一的，根据具体情况，给予相应的扣分：</p>
                        <p>（一）拒绝参加学习、讨论活动或干扰、破坏学习秩序的；</p>
                        <p>（二）不能按时完成学习任务的；</p>
                        <p>（三）损坏书籍、报刊或将学习材料占为已有的；</p>
                        <p>（四）消极对待或拒不参加考试考核，或在考试考核中作弊的；</p>
                        <p>（五）收藏、传阅、观看未经审查许可的书籍、画册，宣扬低俗文化的；</p>
                        <p>（六）剽窃、抄袭、复制他人作品或在作品中虚构事实造成不良影响的；</p>
                        <p>（七）传播邪教或者封建迷信思想，宣扬吸毒史，鼓动吸毒的；</p>
                        <p>（八）其他违反教育学习制度或妨碍、扰乱教育学习活动的。</p>
                        <h3>第四节 康复劳动（20分）</h3>
                        <p>第十九条 戒毒人员在康复劳动方面具有下列情形之一的，根据具体情况，给予相应的加分：</p>
                        <p>（一）积极参加职业技能培训，进步较快或获得职业技能证书的；</p>
                        <p>（二）主动帮助其他戒毒人员学习技术、提高生产效益的；</p>
                        <p>（三）积极参与康复劳动，较好地完成劳动要求的；</p>
                        <p>（四）提出合理化建议，发明、创造产生较大效益的；</p>
                        <p>（五）节约能源、原材料有突出表现的；</p>
                        <p>（六）及时发现生产事故苗头，或采取有效措施避免生产事故发生的；</p>
                        <p>（七）在职业技能培训和劳动生产方面有其他良好表现的。</p>
                        <p>第二十条 戒毒人员在康复劳动方面具有下列情形之一的，根据具体情况，给予相应的扣分：</p>
                        <p>（一）拒绝参加职业技能培训或故意破坏培训活动的；</p>
                        <p>（二）拒不服从分配，或消极怠工的；</p>
                        <p>（三）违反劳动纪律或操作规程，导致出现安全隐患或产品质量不合格的；</p>
                        <p>（四）侵占他人劳动成果，或以不正当手段换取劳动产品的；</p>
                        <p>（五）故意丢失、损坏、藏匿生产工具、产品和原材料的；</p>
                        <p>（六）在职业技能培训和劳动生产方面有其他不良表现的。</p>
                        <h3>第五节 坦白检举（10分）</h3>
                        <p>第二十一条 戒毒人员在坦白检举方面具有下列情形之一的，根据具体情况，给予相应的加分：</p>
                        <p>（一）主动交代本人吸食毒品来源线索，并协助查实的；</p>
                        <p>（二）举报或阻止其他戒毒人员吞食异物、吸食毒品以及预谋、实施脱逃、行凶、自杀等违法犯罪行为，经查证属实的；</p>
                        <p>（三）举报其他戒毒人员私藏、携带现金、移动通讯工具、刀具等违禁品、危险品，经查证属实的；</p>
                        <p>（四）举报其他戒毒人员假身份、假住址，经查证属实的；</p>
                        <p>（五）在坦白检举方面有其他良好表现的。</p>
                        <p>第二十二条 戒毒人员在坦白检举方面具有下列情形之一的，根据具体情况，给予相应的扣分：</p>
                        <p>（一）隐瞒本人真实身份、姓名、住址的；</p>
                        <p>（二）对本人及其他戒毒人员的严重违规、违法及犯罪事实故意隐瞒或知情不报的；</p>
                        <p>（三）为达到骗取奖励或诬陷报复他人等个人目的，捏造事实、编造虚假坦白检举信息的；</p>
                        <p>（四）在坦白检举方面有其他严重不良情节的。</p>
                        <h3>第六节 立功奖励(300分)</h3>
                        <p>第二十三条 戒毒人员提供线索协助公安机关破获案件或抓获逃犯的，视为具有一般立功表现；破获案件或抓获逃犯具有以下情形之一的，视为具有重大立功表现：</p>
                        <p>（一）破获公安部、省公安厅督办案件或抓获其逃犯的；</p>
                        <p>（二）破获强奸、绑架、劫持、杀人、故意伤害致死等重大刑事案件的；</p>
                        <p>（三）破获系列盗窃、抢劫、诈骗等案件或破获盗窃、抢劫、诈骗案件案值在10万元以上的；</p>
                        <p>（四）破获较大以上涉毒案件的，毒品数量可参照《最高人民法院最高人民检察院公安部关于印发<办理毒品犯罪案件适用法律若干问题的意见>的通知》（公通字〔2007〕4号 ）的标准进行认定；</p>
                        <p>（五）破获其他有较大影响的重特大案件的。</p>
                        <p>第二十四条 本办法第十条所称的“其他重大立功表现”，戒毒人员具有下列情形之一的：</p>
                        <p>（一）有发明创造或重大技术革新的；</p>
                        <p>（二）有在日常生产、生活中舍己救人的；</p>
                        <p>（三）在抗御自然灾害或者排除重大事故中，有突出表现的；</p>
                        <p>（四）对国家和社会有其他突出贡献的。</p>
                        <p>第二十五条 戒毒人员符合上述规定具有一般立功表现情形的，单次予以额外奖励1—50分；具有重大立功表现情形的，单次予以额外奖励50—300分。具体分值由各戒毒所根据立功情形决定。</p>
                        <h2>第四章 组织、程序和监督</h2>
                        <p>第二十六条
                            戒毒所应设立“戒毒人员诊断评估办公室”，由一名所领导任主任，相关工作部门负责人、民警和医务人员为成员，负责戒毒人员量化考核工作，并确定工作部门或专人负责各项基础数据的汇总和台帐管理。</p>
                        <p>第二十七条 戒毒所工作人员应根据戒毒人员日常行为表现，按照本办法的规定，及时记录加、扣分的具体情况。</p>
                        <p>第二十八条 戒毒人员的行为表现由现场管理民警负责考核记载。奖罚分审批权限由各地根据实际情况决定。</p>
                        <p>戒毒人员的奖罚结果由本人签名确认，拒绝签名的，由民警予以注明，其奖（罚）分仍然有效。戒毒人员因检举、揭发等奖励不宜公开的，奖励结果不予公示，由戒毒人员本人签名后存档。</p>
                        <p>第二十九条
                            “戒毒人员诊断评估办公室”每月对戒毒人员的日常行为表现及考核得分情况进行评议，填写《强制隔离戒毒人员行为表现量化考核记分表》。戒毒人员当月考核分值必须在下个月10日前及时录入“广东省戒毒所信息管理系统”。</p>
                        <p>第三十条 戒毒所应将戒毒人员每月考核得分情况向戒毒人员进行公示。戒毒人员对考核结果有异议的，应及时说明。戒毒人员提出书面意见的，应在5个工作日内书面答复。</p>
                        <p>第三十一条 戒毒人员请假、外出就医期间的表现，列入考核。</p>
                        <p>第三十二条 戒毒人员符合本办法第十条规定应增加额外奖励分的，戒毒所应当填写《广东省公安机关强制隔离戒毒人员诊断评估额外奖励分审批表》（样式见附件）报地级以上市监管业务指导部门审核。</p>
                        <p>地级以上市监管业务指导部门自收到戒毒所戒毒人员增加额外奖励分的意见之日起10个工作日内，应当作出是否批准的决定。对于不批准的，应当作出书面说明。对超过时间不予以审核的，视为同意。</p>
                        <p>第三十三条
                            省厅监管总队和各市监管业务指导部门要定期通过网上抽查、实地检查等方式，对各戒毒所诊断评估工作的开展情况进行检查督导，如发现有违规操作的单位，应当视情采取通报批评、责令限期整改、停止诊断评估工作及暂停收戒戒毒人员等措施予以纠正。</p>
                        <h2>第五章 附则</h2>
                        <p>第三十四条 公安机关戒毒所将戒毒人员投送司法机关戒毒所时，应一并移交《戒毒人员行为表现评估考核积分移交表》。</p>
                        <p>第三十五条 本办法所称的“以上”、“以下”均含本数。</p>
                        <p>第三十六条 各地级以上市公安监管指导部门或戒毒所可以依照本办法另行制定实施细则并报总队备案。</p>
                        <p>第三十七条
                            本办法自2015年6月1日起实施，《广东省公安机关强制隔离戒毒人员行为矫治量化考核暂行办法》（广公（监管）〔2009〕327号）同时予以废止；本办法发布前省厅监管总队下发的有关文件与本办法不一致的，以本办法为准。</p>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/banner.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>