<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/jing.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/banner.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/introduce.css">
    <title>食堂管理制度</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li><a href="../views/introduce.html">本所介绍</a></li>
                <li>
                    <a href="#">对外开放</a>
                    <ul>
                        <li><a href="../views/openRegime.html">对外开放制度</a></li>
                        <li><a href="../views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">诊断评估</a>
                    <ul>
                        <li><a href="../views/assessment.html">戒毒人员诊断评估</a></li>
                        <li><a href="views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li><a href="../views/interviewRules.html">会见工作规定</a></li>
                        <li><a href="../views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="../views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li><a href="../views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="../views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="../views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li><a href="../views/financial.html">财务制度</a></li>
                <li>
                    <a href="#">法律法规</a>
                    <ul>
                        <li><a href="../views/detentionFacilityRegulations.html">拘留所条例</a></li>
                        <li><a href="../views/drugRegulations.html">戒毒条例</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#">食堂管理</a>
                    <ul>
                        <li><a href="../views/recipe.html">每周菜谱</a></li>
                        <li class="active"><a href="../views/canteenSystem.html">食堂管理制度</a></li>
                        <li><a href="../views/canteenPermit.html">食堂许可证</a></li>
                        <li><a href="../views/chefHealthCertificate.html">厨工健康证</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">龙岗区戒毒（拘留）所伙房管理办法</h1>
                <div class="content">
                    <div class="text-box">
                        <p>第一条
                            为规范伙房管理工作，保障在押人员合法权益，根据《食品安全法》《食品安全法实施条例》《戒毒条例》《食品经营许可管理办法》《食品生产经营日常监督检查管理办法》《餐饮服务食品安全操作规范》等规定，制定本办法。</p>
                        <p>第二条 伙房是指设置于行政监所，用于供应在押人员伙食的场所。</p>
                        <p>第三条 设置伙房应当向食品监督管理部门申请办理食品经营许可证，并接受其监督管理。</p>
                        <p>第四条 伙房的设施设备布局应当符合国家有关食品安全和消防安全标准。羁押有清真饮食习惯的少数民族在押人员的行政监所应当设立清真灶。</p>
                        <p>第五条 伙房与民警食堂分别设立，分别建立账目管理。不得挤占、挪用在押人员伙食经费、伙食原材料、燃料。</p>
                        <p>第六条 伙房安装视频监控设施，接入监控信息系统。无关人员不得随意进入伙房。</p>
                        <p>第七条 所长是伙房管理工作第一责任人。</p>
                        <p>确定一名所领导分管伙房管理工作，并成立由民警、伙房从业人员组成的伙房管理委员会，负责伙房具体管理工作。</p>
                        <p>第八条 制定伙房管理制度和岗位职责，将伙房管理工作分解落实到具体岗位，并上墙公示。</p>
                        <p>第九条
                            伙房的从业人员按照月均在押人员百分之三的比例配备，最低不得少于二人。行政监所应当对伙房从业人员进行背景审查。本人及直系亲属有刑事前科或本人有吸毒史等可能影响监管安全的人员，不得从事行政监所伙房工作。</p>
                        <p>严禁在押人员从事伙房工作。</p>
                        <p>第十条 协调和配合食品监督管理、卫生防疫等部门对伙房从业人员进行食品安全知识和技能培训。</p>
                        <p>组织或者督促伙房从业人员定期进行健康检查、取得健康证明，建立伙房从业人员健康、培训等管理档案，规范伙房从业人员着装。</p>
                        <p>第十一条 伙房物资采购遵循依规、公开、效益、节约的原则。符合招标条件的，招标采购；不具备招标条件的，选择信誉好、有资质的供应商供货。不得采购、贮存或使用不合格、腐烂变质等食材。</p>
                        <p>第十二条 伙房应当建立并落实食品采购验证索票、进货查验、采购记录及出入库登记制度。库存食品出入应当登记签字，保证食品供应与消耗相一致。</p>
                        <p>第十三条 伙房应当制定每周食谱，保障在押人员营养均衡，适时征求驻所医疗机构人员意见。</p>
                        <p>法定节假日及传统节日，应当适当调剂、改善伙食，供应传统习俗食品。</p>
                        <p>对患病及未成年在押人员伙食给予必要的照顾。</p>
                        <p>禁止在押人员自费加餐。</p>
                        <p>第十四条 在接待大厅、监室内公开在押人员伙食实物量标准、当地伙食金额标准、每周食谱，接受监督，确保吃足定量。</p>
                        <p>第十五条
                            伙房内外应当保持环境整洁。餐炊具、工器具、运输车辆放置有序，并在使用前清洗、消毒。主食、副食等食品原料分类分区贮存，隔墙离地，摆放整齐，做到防火、防潮、防鼠、防虫、防异味，确保卫生。</p>
                        <p>第十六条 各种食品原料在加工前应当清洗干净，需要熟制加工的食品应当烧熟煮透，确保在押人员吃熟吃热吃得卫生。</p>
                        <p>第十七条 发送饭菜采用封闭式保温专用车（桶），实行分餐制。工作人员分发食品时，应当佩戴口罩和一次性食品专用薄膜手套。患传染病在押人员的餐具应当专人专用专放。</p>
                        <p>第十八条 伙房建立食品留样制度。食品留样情况建立台帐。</p>
                        <p>每种食品留样不少于100克，标明留样食品名称、留样量、留样时间、留样人员、审核人员等，在冷藏条件下存放48小时以上。留样柜应当上锁，由专人管理并置于视频监控范围内。</p>
                        <p>第十九条 建立食物中毒或者其他食源性疾病等突发事件的应急处理机制，积极开展宣传教育和应急处置培训。</p>
                        <p>第二十条
                            发生食物中毒或者疑似食物中毒事件后，应当立即联系医疗机构抢救中毒在押人员，停止食用并封存、保护造成或者可能造成食物中毒的食品及其原料、工具、设备和现场，并向所属公安机关和上级监管业务指导部门及当地食品监督管理或卫生防疫部门报告。</p>
                        <p>第二十一条 伙房所需经费按照《公安机关财务管理办法》《经费开支范围和管理办法的规定》《在押人员伙食实物量标准》的规定，列入预算，按照现行经费渠道予以全额保障。</p>
                        <p>第二十二条 伙房所需装备按照《县级公安机关基本业务装备配备指导标准》配备。</p>
                        <p>第二十三条 按照《经费开支范围和管理办法的规定》的要求，建立健全伙房经费管理制度，严格执行财经纪律，并接受审计部门对伙房经费审计。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/banner.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>