<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <title>服务大厅公示栏</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li><a href="/views/introduce.html">本所介绍</a></li>
                <li>
                    <a href="#">对外开放</a>
                    <ul>
                        <li><a href="/views/openRegime.html">对外开放制度</a></li>
                        <li><a href="/views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">诊断评估</a>
                    <ul>
                        <li><a href="/views/assessment.html">戒毒人员诊断评估</a></li>
                        <li><a href="/views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li><a href="/views/interviewRules.html">会见工作规定</a></li>
                        <li><a href="/views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="/views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li class="active"><a href="/views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="/views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="/views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li><a href="/views/financial.html">财务制度</a></li>
                <li><a href="#">法律法规</a></li>
                <li><a href="#">食堂管理</a></li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">拘留人员家属探访须知</h1>
                <div class="content">
                    <div class="text-box">
                        <p>1、 被探访拘留人员拘留期限须为5天（包括5天）以上者；</p>
                        <p>2、 探访须携带相关证明：</p>
                        <p>家属探访　家属凭身份证与拘留人员的“行政拘留家属通知书”办理探访；如无上述决定书者，家属须出示结婚证（夫妻）、户口本（父母、兄弟姐妹，探访人与拘留人员户籍资料须在同一本户口本上），如户籍资料不在同一本上者请到户口所在地派出所开具亲属证明，证件不齐全者不予办理探访手续；</p>
                        <p>同事探访　由用人单位开具关系证明，并盖上单位公章；</p>
                        <p>3、为规范管理，拘留人员在拘留期间中允许被探访一次，一旦此拘留人员在本次拘留期间被探访一次后，其余亲属均不予再办理探访；</p>
                        <p>4、已决定转刑拘、违纪的拘留人员不予以办理探访；</p>
                        <p>5、司法拘留的人员，家属须到法院开具同意探访的证明方可办理探访；</p>
                        <p>6、随行探访的家属不得多于三人。</p>
                        <p>拘留探访时间：星期四（法定节假日除外）</p>
                        <p>上午 9：00——11：00</p>
                        <p>下午14：00——17：00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/banner.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>