<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/jing.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <title>财务制度</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li><a href="/views/introduce.html">本所介绍</a></li>
                <li>
                    <a href="#">对外开放</a>
                    <ul>
                        <li><a href="/views/openRegime.html">对外开放制度</a></li>
                        <li><a href="/views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">诊断评估</a>
                    <ul>
                        <li><a href="/views/assessment.html">戒毒人员诊断评估</a></li>
                        <li><a href="/views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li><a href="/views/interviewRules.html">会见工作规定</a></li>
                        <li><a href="/views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="/views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li><a href="/views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="/views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="/views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/views/financial.html">财务制度</a></li>
                <li>
                    <a href="#">法律法规</a>
                    <ul>
                        <li><a href="/views/detentionFacilityRegulations.html">拘留所条例</a></li>
                        <li><a href="/views/drugRegulations.html">戒毒条例</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">食堂管理</a>
                    <ul>
                        <li><a href="/views/recipe.html">每周菜谱</a></li>
                        <li><a href="/views/canteenSystem.html">食堂管理制度</a></li>
                        <li><a href="/views/canteenPermit.html">食堂许可证</a></li>
                        <li><a href="/views/chefHealthCertificate.html">厨工健康证</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">深圳市公安监管场所被监管人员伙食及代购物品管理工作暂行规定</h1>
                <div class="content">
                    <div class="text-box">
                        <p>第一条 为规范公安监管场所被监管人员代购服务工作，根据公安部监管局《关于加强看守所在押人员财物管理的通知》（公监管[2005]104号）等有关规定，制定本规定。</p>
                        <p>第二条
                            公安监管场所按照有关规定依法为被监管人员配置日常生活用品（食品）。依法由国家财政支出的日常生活用品（食品），由监管场所免费提供给被监管人员；被监管人员在许可范围内提出额外购买日常生活用品（食品）的，由监管场所集中代购。</p>
                        <p>不得强行要求被监管人员购物、加餐。不得以任何理由克扣在押人员购买的物品（食品）。</p>
                        <p>第三条代购物品（食品）必须通过正规渠道进货，保证质量合格，价格公道。严禁从市场直接代购熟食；严禁销售过期、变质、伪劣、不熟的物品（食品）；监管场所应当向被监管人员和家属公布代购物品（食品）名称和价格，代购物品（食品）价格不得超过该物品（食品）当地市场零售价格，禁止以额外收取“代购费”、“辛苦费”等名目故意抬价。</p>
                        <p>第四条 监管场所应当严格执行公安部、财政部规定的被监管人员伙食实物量标准，保证被监管人员吃熟、吃热、吃足定量、吃得卫生。</p>
                        <p>应适当提高患病、外籍被监管人员的伙食标准。</p>
                        <p>应尊重少数民族、外国籍在押人员饮食习惯，在生活上给予适当照顾。</p>
                        <p>第五条 为被监管人员代购的物品仅限于日常生活用品，代购的食品仅限于家常饭菜和普通食品，不得为被监管人员代购高档享受型的生活用品和食品，不得将代购物品（食品）外卖营利。</p>
                        <p>代购物品（食品）具体种类如下：</p>
                        <p>（一） 日用品类</p>
                        <p>1、生活器具：塑料桶、塑料盆、塑料杯、塑料保鲜盒、塑料衣架。</p>
                        <p>2、清洁用品：毛巾、指套型短柄牙刷、牙膏、香皂、沐浴露、洗发水、肥皂、洗洁精。</p>
                        <p>3、衣物：拖鞋、内衣、内裤、袜子。</p>
                        <p>4、文娱用品：信封、信纸、邮票、无金属包嘴水笔、扑克、象棋。</p>
                        <p>（二）食品类</p>
                        <p>1、熟食及果蔬类：畜禽鱼类肉食、禽蛋类、蔬菜、水果、花生、瓜子等。</p>
                        <p>2、工业食品类：方便面、饼干、面包、牛奶、奶粉、麦片、饮料、白糖、榨菜、萝卜干、肉肠、糖果等。</p>
                        <p>监管场所应当对所有代购物品（食品）及其包装进行严格把关，不得让带有金属、玻璃、有毒、有严重辐射等不利于监管安全的物品或包装流入监室。</p>
                        <p>第六条
                            监管场所应严格控制被监管人员消费额度和一次性代购物品（食品）数量。个人每月消费总额不超过500元；个人一次性代购日常生活用品控制在二周用量以内，工业食品控制在一周用量内，熟食不得过夜存放。</p>
                        <p>第七条 在押人员加餐仅限于本人消费，不得为他人加餐，不得伙吃伙喝。</p>
                        <p>第八条 本规定发布之日起执行。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/banner.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>