<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/jing.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <title>会见工作规定</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li><a href="/views/introduce.html">本所介绍</a></li>
                <li>
                    <a href="#">对外开放</a>
                    <ul>
                        <li><a href="/views/openRegime.html">对外开放制度</a></li>
                        <li><a href="/views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">诊断评估</a>
                    <ul>
                        <li><a href="/views/assessment.html">戒毒人员诊断评估</a></li>
                        <li><a href="/views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li class="active"><a href="/views/interviewRules.html">会见工作规定</a></li>
                        <li><a href="/views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="/views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li><a href="/views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="/views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="/views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li><a href="/views/financial.html">财务制度</a></li>
                <li>
                    <a href="#">法律法规</a>
                    <ul>
                        <li><a href="/views/detentionFacilityRegulations.html">拘留所条例</a></li>
                        <li><a href="/views/drugRegulations.html">戒毒条例</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">食堂管理</a>
                    <ul>
                        <li><a href="/views/recipe.html">每周菜谱</a></li>
                        <li><a href="/views/canteenSystem.html">食堂管理制度</a></li>
                        <li><a href="/views/canteenPermit.html">食堂许可证</a></li>
                        <li><a href="/views/chefHealthCertificate.html">厨工健康证</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">龙岗区戒毒（拘留）所提询会见工作规定</h1>
                <div class="content">
                    <div class="text-box">
                        <h2>第一章 总则</h2>
                        <p>第一条【法律依据】为进一步规范提询会见工作，提高效率，增强群众满意度，根据《拘留所执法细则》、《强制隔离戒毒所执法细则》的有关要求，结合本所工作实际，特制定本规定。</p>
                        <p>第二条【适用范围】本规定适用于戒毒所、拘留所提询会见管理工作。</p>
                        <h2>第二章 会见</h2>
                        <p>第三条【时间安排】被拘留人员会见时间为每周四上午9：00－11：00；下午14：00-16：30，法定节假日除外。戒毒人员会见时间为每周二上午9：00－11：00、下午14：00-16：30，法定节假日除外。</p>
                        <p>非会见日期间，有特殊情况的，由值班领导批准会见。</p>
                        <p>第四条【会见要求】</p>
                        <p>（一）戒毒人员会见要求。</p>
                        <p>戒毒人员自戒毒之日（如并行处置拘留15天者，从拘留期满后的第2天）起一个月后方可办理探访业务，只允许直系亲属探访，每次探访不得超过三名家属。</p>
                        <p>（二）被拘留人会见要求。</p>
                        <p>1、被探访拘留人员拘留期限须为5天（包括5天）以上者。随行探访的家属不得多于三人。</p>
                        <p>2、家属探访家属凭身份证与拘留人员的“行政拘留家属通知书”办理探访；如无上述决定书者，家属须出示结婚证（夫妻）、户口本（父母、兄弟姐妹，探访人与拘留人员户籍资料须在同一本户口本上），如户籍资料不在同一本上者请到户口所在地派出所开具亲属证明，证件不齐全者不予办理探访手续；</p>
                        <p>3、同事会见由用人单位开具关系证明，并盖上单位公章；</p>
                        <p>4、被拘留人在拘留期间中允许被探访一次，一旦此拘留人员在本次拘留期间被会见一次后，其他亲属均不予再办理会见；</p>
                        <p>5、已决定转刑拘、违纪的被拘留人不予以办理探访；</p>
                        <p>6、司法拘留的人员，家属须到法院开具同意探访的证明方可办理探访；</p>
                        <p>第五条【预约会见】被监管人员家属、律师用手机关注“深圳监管”微信公众号，申请预约会见。</p>
                        <p>第六条【核对证件】</p>
                        <p>（一）服务大厅登记员对戒毒人员探访人员进行身份证件进行核查，证件不全的不予办理会见手续：</p>
                        <p>1、身份证；</p>
                        <p>2、结婚证（夫妻）； </p>
                        <p>3、户口本（父母、兄弟姐妹，探访人员与戒毒学员户籍资料须在同一本户口本上）；</p>
                        <p>4、如户籍资料不在同一本上者请到户口所在地派出所开具亲属证明，并盖上派出所公章；</p>
                        <p>（二）服务大厅登记员对被拘留人员探访人员进行身份证件进行检查，证件不全的不予办理会见手续：</p>
                        <p>1、身份证</p>
                        <p>2、行政拘留家属通知书</p>
                        <p>3、如无通知书者，家属须出示结婚证（夫妻）、户口本（父母、兄弟姐妹，探访人与拘留人员户籍资料须在同一本户口本上），</p>
                        <p>4、如户籍资料不在同一本上者要在户口所在地派出所开具亲属证明；</p>
                        <p>5、同事探访由用人单位开具关系证明，并盖上单位公章。</p>
                        <p>（三）服务大厅登记员对律师会见的律师身份证件进行核查，证件不全的不予办理会见手续：</p>
                        <p>1、律师执业证书；</p>
                        <p>2、律师事务所证明；</p>
                        <p>3、家属委托书；</p>
                        <p>4、委托人关系证明。</p>
                        <p>第七条【系统登记】服务大厅登记员将探访人员信息录入到违法犯罪人员信息中“探访会见”，录入内容包括：</p>
                        <p>1、探访人员姓名；</p>
                        <p>2、探访人员身份证号码；</p>
                        <p>3、探访人员现住址；</p>
                        <p>4、探访人员与被监管人员关系。</p>
                        <p>录入完成后，打印书面的会见审批表。由探访人员本人将审批表及证件交值班所领导审批。</p>
                        <p>第八条
                            【通知带人】服务大厅登记员打印会见通知单，交给值班主班民警，由值班主班民警通知巡视（副班）民警带人，按照登记的先后次序安排会见，一次最多安排6人会见。被监管人员拒绝会见的，可不予安排会见。</p>
                        <p>会见前，服务大厅登记员应向会见人、值班巡视民警应向被会见人告知会见规定及注意事项。</p>
                        <p>第九条 【会见】</p>
                        <p>（一）值班巡视民警将被会见人带入指定会见地点，并全程现场监管会见情况，对违反规定的行为要及时制止，必要时中止会见。</p>
                        <p>（二）值班主班民警对会见室情况进行视频监控。</p>
                        <p>（三）会见时间一般不超过10分钟，特殊情况需延长时间的，应报值班领导批准。</p>
                        <p>第十条 【带回监室】会见结束后，值班巡视民警将被会见人集中清点人数，并对其人身、物品进行检查，防止违禁物品带入。</p>
                        <h2>第三章 询问</h2>
                        <p>第十一条 【验证打单】
                            服务大厅登记员查验办案人员的工作证件，登录违法犯罪人员信息系统，登记询问单位、询问原由、两名办案人员姓名、工作证件种类和号码，打印询问被监管人员登记表交给办案人员。</p>
                        <p>第十二条【提人移人】办案人员将询问被监管人员登记表交给当天值班所领导审批。值班所领导审批同意后，交给值班主班民警。由值班主班民警通知巡视民警到监室带被询问人。巡视民警面对面将被询问人移交给办案人员。询问需在所内询问室进行，询问时，不得少于2名民警，要求着装规范。</p>
                        <p>第十三条【询问警戒】提询严管对象时，可以视情加戴约束性警械。发现询问人员违反有关规定的，值班民警应当制止或者终止询问，并立即报告所领导进行处理。</p>
                        <p>第十四条【安全检查】询问结束后，巡视民警要对被询问的在押人员进行安全检查。检查情况应当作好书面记录。</p>
                        <p>(1)经检查无异常的，由值班巡视民警、办案人员以及被询问的在押人员签字确认后，办案民警将被监管人员移交值班巡视民警。</p>
                        <p>(2)发现被询问的被监管人员携带违禁、违规物品的，应当要求办案单位作出书面解释，并对违禁、违规物品予以没收。</p>
                        <p>(3)发现被询问的被监管人员体表和健康有异常的，巡视民警要求办案单位作出书面说明，并立即书面报告主管公安机关、上级业务指导部门。</p>
                        <p>第十五条 【重点谈话】询问后，管教民警应当及时对被询问人进行谈话，了解、掌握其思想动态。发现情绪不稳定的，应当列为重点人员，采取相应的管控措施，防止发生安全问题。</p>
                        <h2>第四章 附则</h2>
                        <p>第十六条【执行时间】本规定自下发之日起执行。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/banner.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>