<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <title>服务大厅公示栏</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li class="active"><a href="/views/introduce.html">本所介绍</a></li>
                <li>
                    <a href="#">对外开放</a>
                    <ul>
                        <li><a href="/views/openRegime.html">对外开放制度</a></li>
                        <li><a href="/views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">诊断评估</a>
                    <ul>
                        <li><a href="/views/assessment.html">戒毒人员诊断评估</a></li>
                        <li><a href="/views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li><a href="/views/interviewRules.html">会见工作规定</a></li>
                        <li><a href="/views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="/views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li><a href="/views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="/views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="/views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li><a href="/views/financial.html">财务制度</a></li>
                <li>
                    <a href="#">法律法规</a>
                    <ul>
                        <li><a href="/views/detentionFacilityRegulations.html">拘留所条例</a></li>
                        <li><a href="/views/drugRegulations.html">戒毒条例</a></li>
                    </ul>
                </li>
                <li><a href="#">食堂管理</a></li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">深圳市龙岗区戒毒（拘留）所简介</h1>
                <div class="content">
                    <div class="image-box">
                        <img src="/images/戒毒所正门.jpg" alt="戒毒所正门">
                        <div class="description">戒毒所正门</div>
                    </div>
                    <div class="text-box">
                        <p>我所是戒毒所、拘留所二合一监所，为龙岗公安分局正科级内设直属机构。戒毒所成立于1997年7月，2012年5月与拘留所合署办公。现有在编民警48人（其中男民警41人，女民警7人）、辅助工勤人员99人、北京中医药大学深圳医院驻所门诊部医护人员13人；配备所领导4人，下设管教组、值班巡视组、医疗组、后勤内勤组、协助破案组五个业务组。全所占地面积13000平方米，建筑面积9570平方米，现有42间监室，分东西两个大院，其中东大院为戒毒区、西大院为拘留区。</p>
                        <p>多年来，我所紧紧以保障监所安全为中心，坚持创新驱动理念，走出了一条独具特色的禁吸戒毒之路，多次受到上级表彰。戒毒所2009年至今连续9次被公安部评为“全国一级强制隔离戒毒所”，被公安部评为“全国公安监管系统苦练基本功”先进集体、被省厅评为“全省信息技术应用示范单位”、“全省深挖犯罪先进单位”；多次荣获市局预审监管系统先进基层单位、深挖犯罪先进单位；青少年禁毒项目被深圳市关爱行动办评为“百佳市民满意项目”；荣立市局集体二等功2次、三等功3次、集体嘉奖2次；戒毒医疗党支部被龙岗区委评为2018年度红旗党支部。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/banner.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>