<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <title>服务大厅公示栏</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li><a href="/views/introduce.html">本所介绍</a></li>
                <li class="active">
                    <a href="#">对外开放</a>
                    <ul>
                        <li class="active"><a href="/views/openRegime.html">对外开放制度</a></li>
                        <li><a href="/views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">诊断评估</a>
                    <ul>
                        <li><a href="/views/assessment.html">戒毒人员诊断评估</a></li>
                        <li><a href="/views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li><a href="/views/interviewRules.html">会见工作规定</a></li>
                        <li><a href="/views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="/views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li><a href="/views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="/views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="/views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li><a href="/views/financial.html">财务制度</a></li>
                <li><a href="#">法律法规</a></li>
                <li><a href="#">食堂管理</a></li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">深圳市龙岗区强制隔离戒毒（拘留）所
                    向社会对外开放制度
                </h1>
                <div class="content">
                    <div class="text-box">
                        <p>为充分展示监管场所依法、严格、科学、文明管理和尊重、保障人权的良好形象，根据上级公安监管部门的部署和要求，我所决定定期开展向社会开放活动。为确保活动有序开展，特制定如下制度：</p>
                        <p>第一条 指导思想
                            通过宣传法律法规和政策，宣传党和国家对在押人员的关怀、教育和挽救，宣传毒品危害，提高全民戒毒的意识，展现监所管理、治疗、教育、服务社会治安大局等各方面的工作成效，争取社会各界和人民群众的监督、理解和支持。</p>
                        <p>第二条 开放对象 接受禁毒教育、法制教育的青少年、企业事业政府单位和社会团体人员；受邀部分在押人员家属；政协人大代表、执法监督员等。</p>
                        <p>第三条 开放内容 包括如下：</p>
                        <p>（一）组织实地参观监所部分监室、医疗卫生室、图书室、电教室、厨房、餐厅、文体活动区、劳动康复区等公共设施。</p>
                        <p>（二）介绍监所执法、管理、医疗、教育、康复、保障戒毒人员合法权益等工作成效。</p>
                        <p>（三）介绍在押人员日常学习生活、对伙食、医疗、代购物品消费等情况。</p>
                        <p>（四）接受群众监督和征求群众意见，提供法律咨询，解答有关问题，设置意见箱或发放调查问卷，收集记录各方面意见建议，及时妥善反馈有关意见、举报等办理情况，积极改进管理教育工作。</p>
                        <p>（五）充分发挥禁毒教育基地的作用，宣传禁毒法律法规政策，介绍毒品预防和降低毒品危害的相关常识，增强群众识毒、拒毒和自觉参与禁毒斗争的思想意识。</p>
                        <p>第四条 注意事项 包括如下：</p>
                        <p>（一）根据自身实际，研究制定详细周密的工作方案，明确开放的具体部位、参观路线、操作流程规范和警务公开等内容，针对可能出现的各种意外情况制定处置突发事件预案，做到措施周密，责任到人。</p>
                        <p>（二）明确向社会开放活动的接待原则、程序和内容，规范开放工作流程、纪律和要求，统一对敏感问题的回答口径。</p>
                        <p>（三）严格参观人员的身份审查和安检工作，凭身份证件换取参观证并填写有关登记表，进入特定区域要寄存其随身物品，并完成安检门或金属探测仪检查。监控技防、警械装备、警力运作模式等涉及保密范畴的，原则上不向社会开放。</p>
                        <div class="date-box">
                            <div class="title">深圳市龙岗区强制隔离戒毒所</div>
                            <div class="date">2018年1月10日</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/banner.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>