<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/jing.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <title>每周菜谱</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li><a href="/views/introduce.html">本所介绍</a></li>
                <li>
                    <a href="#">对外开放</a>
                    <ul>
                        <li><a href="/views/openRegime.html">对外开放制度</a></li>
                        <li><a href="/views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">诊断评估</a>
                    <ul>
                        <li><a href="/views/assessment.html">戒毒人员诊断评估</a></li>
                        <li><a href="/views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li><a href="/views/interviewRules.html">会见工作规定</a></li>
                        <li><a href="/views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="/views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li><a href="/views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="/views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="/views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li><a href="/views/financial.html">财务制度</a></li>
                <li>
                    <a href="#">法律法规</a>
                    <ul>
                        <li><a href="/views/detentionFacilityRegulations.html">拘留所条例</a></li>
                        <li><a href="/views/drugRegulations.html">戒毒条例</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#">食堂管理</a>
                    <ul>
                        <li class="active"><a href="/views/recipe.html">每周菜谱</a></li>
                        <li><a href="/views/canteenSystem.html">食堂管理制度</a></li>
                        <li><a href="/views/canteenPermit.html">食堂许可证</a></li>
                        <li><a href="/views/chefHealthCertificate.html">厨工健康证</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">学员饭堂每周菜谱</h1>
                <div class="content">
                    <table border="1" cellspacing="0" cellpadding="0">
                        <tr>
                            <th></th>
                            <th>早餐</th>
                            <th>中餐</th>
                            <th>晚餐</th>
                        </tr>
                        <tr>
                            <td>星期一</td>
                            <td>汤面条</td>
                            <td>水豆腐炒猪肉</td>
                            <td>南瓜炒猪肉</td>
                        </tr>
                        <tr>
                            <td>星期二</td>
                            <td>汤米粉</td>
                            <td>包菜炒猪肉</td>
                            <td>萝卜炒猪肉</td>
                        </tr>
                        <tr>
                            <td>星期三</td>
                            <td>汤河粉</td>
                            <td>焖猪肉(加菜)</td>
                            <td>小瓜炒猪肉</td>
                        </tr>
                        <tr>
                            <td>星期四</td>
                            <td>汤面条</td>
                            <td>大白菜炒猪肉</td>
                            <td>土豆炒猪肉</td>
                        </tr>
                        <tr>
                            <td>星期五</td>
                            <td>白粥</td>
                            <td>海带丝炒猪肉</td>
                            <td>豆腐皮炒猪肉</td>
                        </tr>
                        <tr>
                            <td>星期六</td>
                            <td>汤米粉</td>
                            <td>西红柿炒鸡蛋</td>
                            <td>鸡胸肉炒西芹</td>
                        </tr>
                        <tr>
                            <td>星期日</td>
                            <td>白粥</td>
                            <td>焖猪肉(加菜)</td>
                            <td>冬瓜炒猪肉</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/banner.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>