<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <title>服务大厅公示栏</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <ul class="nav">
                <li><a href="/views/introduce.html">本所介绍</a></li>
                <li>
                    <a href="#">对外开放</a>
                    <ul>
                        <li><a href="/views/openRegime.html">对外开放制度</a></li>
                        <li><a href="/views/openDay.html">所长接待日制度</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">诊断评估</a>
                    <ul>
                        <li><a href="/views/assessment.html">戒毒人员诊断评估</a></li>
                        <li><a href="/views/assessmentMethod.html">行为表现评估考核办法</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#">探访会见</a>
                    <ul class="left">
                        <li><a href="/views/interviewRules.html">会见工作规定</a></li>
                        <li class="active"><a href="/views/remoteVideoRules.html">网上远程视频会见规定</a></li>
                        <li><a href="/views/familyVisitRules.html">戒毒人员家属探访须知</a></li>
                        <li><a href="/views/detaineesRules.html">拘留人员家属探访须知</a></li>
                        <li><a href="/views/flowChart.html">提询会见工作流程图</a></li>
                        <li><a href="/views/instructions.html">不予接收生活必需品说明</a></li>
                    </ul>
                </li>
                <li><a href="/views/financial.html">财务制度</a></li>
                <li>
                    <a href="#">法律法规</a>
                    <ul>
                        <li><a href="/views/detentionFacilityRegulations.html">拘留所条例</a></li>
                        <li><a href="/views/drugRegulations.html">戒毒条例</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">食堂管理</a>
                    <ul>
                        <li><a href="/views/recipe.html">每周菜谱</a></li>
                        <li><a href="/views/canteenSystem.html">食堂管理制度</a></li>
                        <li><a href="/views/canteenPermit.html">食堂许可证</a></li>
                        <li><a href="/views/chefHealthCertificate.html">厨工健康证</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="banner-box" id="banner-box">
            <div class="banner" id="banner">
                <a href="">
                    <div class="banner-slide slide1 slide_active"></div>
                </a>
                <a href="">
                    <div class="banner-slide slide2"></div>
                </a>
            </div>

            <!--上下按钮-->
            <a href="javascript:void(0)" class="button prev" id="prev"></a>
            <a href="javascript:void(0)" class="button next" id="next"></a>
            <!--圆点-->
            <div class="dots" id="dots">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
        <div class="content-box">
            <div class="container">
                <h1 class="header">深圳市龙岗区戒毒（拘留）所网上远程视频会见规定</h1>
                <div class="content">
                    <div class="text-box">
                        <p>一、为保障强制隔离戒毒人员（拘留）合法权益，依据行政羁押人员会见的有关规定，结合我所工作实际，制定本规定。</p>
                        <p>二、网上远程视频会见工作主要服务强制隔离戒毒人员（拘留人员）及其在外地因路途遥远、或在本地因特殊原因等不便来所的亲属的会见；在所表现良好的也可以安排网上远程视频会见。</p>
                        <p>三、强制隔离戒毒人员（拘留人员）及其亲属可以直接进入互联网“深圳公安监管场所网上便民服务中心”（互联网址：<a href="http://jiansuofuwu.cn">http://jiansuofuwu.cn</a>）向我所提交网上视频会见申请，提交申请同时请向我所传真居住地派出所出具的申请人与在押人员身份关系证明（传真电话0755-28930342）。请在证明上注明“申请学员××视频会见的关系证明”字样。</p>
                        <p>四、申请网上远程视频会见的身份条件</p>
                        <p>1、戒毒所的强制隔离戒毒人员、拘留所得行政拘留人员。但被列为严管的、违反戒毒所管理规定的、本人拒绝的，不予安排视频会见。对于涉及案件比较敏感、入所后患伤病体弱等特殊行政羁押人员，原则上不予办理视频会见。</p>
                        <p>2、强制戒毒隔离人员（拘留人员）亲友申请视频会见的身份条件为：戒毒所强制隔离戒毒人员（拘留人员）的近亲属、监护人和单位负责人。</p>
                        <p>五、申请网上远程视频会见的流程</p>
                        <p>（一）申请。</p>
                        <p>1、强制隔离戒毒人员（拘留人员）亲友在互联网上登录深圳市公安监管场所便民服务中心网站（<a href="http://jiansuofuwu.cn">http://jiansuofuwu.cn</a>），点击被监管人员会见管理栏目进入深圳市公安监管场所被监管人员会见管理系统进行注册、申请会见等。或者扫描“深圳监管场所网上预约微信平台二维码”，关注“深圳监管”账号，可以进行网上会见预约等业务。</p>
                        <p>（二）审批。戒毒所（拘留所）管理员对强制隔离戒毒人员（拘留人员）或其亲友的申请情况进行初审后，呈报有关领导审批。</p>
                        <p>（三）预约。强制隔离戒毒人员（拘留人员）及其亲友的会见申请被批准后，由戒毒所通知申请人，并预约好视频会见的具体时间。</p>
                        <p>（四）会见。视频会见前，由民警与强制隔离戒毒人员（拘留人员）亲友进行连线，并在视频上核查对方身份证明材料等，确认对方身份及会见双方关系后，告知视频会见的有关规定。</p>
                        <p>（五）
                            会见时，会见双方可利用视频对讲或进行文字交流，语音交流时原则上应讲普通话，交流内容不得涉及谈论案情，涉嫌串供、通风报信；不得谈论监管场所警力配备、勤务运作、技防设施、戒毒所布局等安全防范工作。</p>
                        <p>视频会见时，民警在现场进行监督、管理。如出现实际会见人与申请时的身份信息不符、无法提供身份证明文件的或者违反相关规定的情况，现场民警必须立即中止视频会见。</p>
                        <p>（六）
                            强制隔离戒毒人员（拘留人员）一般一个月安排1次视频会见，每次视频会见的时间不超过30分钟。已经安排过会见或已列入现场会见计划的，一般不再安排视频会见。但有下列情形之一的，可另行再安排视频会见1次：</p>
                        <p>1、当月在深挖犯罪工作中检举揭发有立功表现的；</p>
                        <p>2、主动、及时报告戒室信息有效杜绝事故发生的；</p>
                        <p>3、严守所纪所规、主动配合民警管理教育表现突出的；</p>
                        <p>4、有其它突出贡献或良好表现行为的。</p>
                        <p>（七）本规定之公布之日起实施。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/banner.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>